# Recommended checks 
Checks: 'clang-analyzer-*,bugprone-*,cppcoreguidelines-*,modernize-*,readability-*'

# Add some other common configuration options
WarningsAsErrors: ''

# This option tells clang-tidy to only show warnings from files in our source directory.
# This will ignore warnings from third-party libraries like googletest.
HeaderFilter: '.*(Logger|CMakeLists|TaskScheduler).cpp'

# This setting tells clang-tidy what C++ standard to use.
Language: 'C++17'

# You can also use specific options for certain checks.
CheckOptions:
   - key: readability-identifier-naming.NamespaceCase
     value: lower_case
   - key: readability-identifier-naming.VariableCase
     value: camelCase