# Prerequisites
*.d

# Build artifacts
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.sdf
*.opensdf
*.suo
*.ncb
*.user
*.aps
*.pch
*.idb
*.ipdb
*.iobj
*.tlog
*.VC.db

# IDE-specific directories
.vs/
bin/
obj/
Debug/
Release/
.idea/
.vscode/

# Cache and temporary files
*.cache
*.tmp

# Exclude Git metadata and system files
.git/
Thumbs.db
desktop.ini

# Ignore build folders
/build/
/cmake-build-*/

# OS-specific
.DS_Store
Thumbs.db
